.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .overlap-group-wrapper {
  background-color: #ffffff;
  height: 962px;
  overflow: hidden;
  width: 1920px;
}

.index .overlap-group {
  height: 1005px;
  left: -845px;
  position: relative;
  top: -42px;
  width: 3520px;
}

.index .view {
  height: 705px;
  left: 1476px;
  overflow: hidden;
  position: absolute;
  top: 171px;
  transform: rotate(-47.19deg);
  width: 658px;
}

.index .rectangle {
  height: 962px;
  left: -153px;
  position: absolute;
  top: -128px;
  transform: rotate(47.19deg);
  width: 965px;
}

.index .img {
  height: 851px;
  left: 0;
  position: absolute;
  top: 98px;
  width: 1599px;
}

.index .rectangle-2 {
  height: 1005px;
  left: 1903px;
  position: absolute;
  top: 0;
  width: 1617px;
}

.index .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 13.31px;
  height: 282px;
  left: 1241px;
  position: absolute;
  top: 436px;
  width: 1128px;
}

.index .text {
  align-self: stretch;
  color: #000000;
  font-family: "Bebas Neue", Helvetica;
  font-size: 85.2px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  text-shadow: 0px 5.33px 86.54px #00000040;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Bebas Neue", Helvetica;
  font-size: 85.2px;
  font-weight: 700;
  letter-spacing: 0;
}

.index .div {
  color: #000000;
  font-family: "Inter Tight", Helvetica;
  font-size: 64px;
  font-weight: 700;
  left: 1545px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 733px;
  white-space: nowrap;
  width: 520px;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 1659px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 859px;
  width: 293px;
}

.index .text-wrapper-3 {
  color: #000000;
  font-family: "Inter Tight", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 1503px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Inter Tight", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 2560px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
}

.index .frame {
  background-image: url(https://cdn.animaapp.com/projects/6529b73d74ca62c2c15d45de/releases/6529b79ee156b3d18c0e7757/img/rectangle-3@2x.png);
  background-size: 100% 100%;
  height: 61px;
  left: 900px;
  position: absolute;
  top: 70px;
  width: 79px;
}
